extends bootstrap


block content
  h3#toc_0 CP4WAIOPS AIManager Demo UI
  p
    | A Simple way to generate Events and Log Anomalies for CP4WAIOPS.
  blockquote
    p Source code is included if you want to mess around a bit.
  h3 🚀 Provided by Niklaus Hirt (nikh@ch.ibm.com)
