extends layout

block title
  h1 AIManager
  p(style='font-size:50px;') Demo UI 



block navigation
  p
  p
    b Endpoints
  p
  b
    a(href='/doc') API F1
  p
  b
    a(href='/doc') API F2
  p
  b
    a(href='/doc') API F3
  p
  p 
    b Configuration
  p
  b
    a(href='/config') Configuration
  p
  p 
    b About
  p
  b
    a(href='/about') About


