extends bootstrap


block content
  div
    h3 TEST UI
    p
      | A Simple way to ....
    p 
    p 
    p 
    h3 xxx
    h4 yyyy

  div
    form(action='/test' method='POST')
      button.btn.btn-success.mb-3(type='submit') Authenticate

    p
    a.btn.btn-danger.btn-lg(href='/test' role='button') TEST
    p






    