extends layout

block title
  h1 AIManager
  h2 Demo UI


block navigation
  p
  p Endpoints
  p
  a(href='/demo_doc') Create Events and Log Anomalies
  p
  a(href='/demo_doc') Create Events
  p
  a(href='/demo_doc') Create Log Anomalies
  p
  p Configuration
  p
  a(href='/config') Configuration
  p
  p About
  p
  a(href='/about') About




block content
  h3#toc_0 CP4WAIOPS AIManager Demo UI
  p
    | A Simple way to generate Events and Log Anomalies for CP4WAIOPS.
  blockquote
    p Source code is included if you want to mess around a bit.
  h3 🚀 Provided by Niklaus Hirt (nikh@ch.ibm.com)
