extends layout

block title
  h1 AIManager
  h2 Demo UI


block navigation
  p
  p Endpoints
  p
  a(href='/demo_doc') Create Events and Log Anomalies
  p
  a(href='/demo_doc') Create Events
  p
  a(href='/demo_doc') Create Log Anomalies
  p
  p Configuration
  p
  a(href='/config') Configuration
  p
  p About
  p
  a(href='/about') About




block content
  h2 ✅ Injection started....
  p 
  p 
  p 

  a.btn.btn-success.btn-lg(href='/' role='button') Back
