extends layout

block title
  h1 AIManager
  h2 Generic Event Webhook


block navigation
  p





block content
  body
    h2 ❌ Error, you must use Token
    p 
    p 
    p 
    form(action='/login' method='GET')
      h3 View an employee
      label Employee ID
      input#exampleFormControlInput1.form-control(type='password' name='token' required='' placeholder='my-token')
      button.btn.btn-danger.mb-3(type='reset') Reset
      button.btn.btn-success.mb-3(type='submit') Authenticate


