doctype html
html(lang='en')
  head
    title IBM Automation

  body
    h1#toc_0 Webhook capture tool
    p
      | A Simple way to capture POST JSON Messages.
    p 
    p Write with POST to /webhook
    p History with GET to /history
